// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

body {
  margin: 0;
  font-family: 'Roboto' 400, sans-serif;
}
h1, h2, h3 {
  font-family: 'Roboto' 400, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}
#menu-bars {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9;
}

body {
  background-color: #FFFFFF;
}

#resume {
  margin-top: 40px;
  margin-bottom: 70px;
}
// .menu-container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//           transform: translate(-50%, -50%);
// }
// .menu-container .bars {
//   width: 120px;
//   height: 70px;
//   position: relative;
//   -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
// }
// .menu-container .bars span {
//   display: block;
//   width: 100%;
//   height: 10px;
//   background-color: red;
//   margin-top: 20px;
// }
// .menu-container .bars span:first-child {
//   margin-top: 0;
//   -webkit-transform: scaleX(1);
//           transform: scaleX(1);
//   -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   -webkit-transition-delay: 0.4s;
//           transition-delay: 0.4s;
// }
// .menu-container .bars span:nth-child(3) {
//   width: 100%;
//   -webkit-transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   -webkit-transition-delay: 0.4s;
//           transition-delay: 0.4s;
// }
// .menu-container .bars .other-bar {
//   width: 10px;
//   height: 0;
//   background-color: red;
//   position: absolute;
//   top: -23px;
//   left: 50%;
//   margin-left: -5px;
//   -webkit-transition: height 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: height 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
//   z-index: 10;
// }
// .menu-container.is-menu-open .bars {
//   -webkit-transform: rotate(45deg);
//           transform: rotate(45deg);
//   -webkit-transition-delay: 0.4s;
//           transition-delay: 0.4s;
// }
// .menu-container.is-menu-open .bars span:first-child {
//   -webkit-transform: scaleX(0);
//           transform: scaleX(0);
//   -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
// }
// .menu-container.is-menu-open .bars span:nth-child(3) {
//   width: 0;
//   -webkit-transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
// }
// .menu-container.is-menu-open .bars .other-bar {
//   height: 120px;
//   -webkit-transition: height 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   transition: height 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
//   -webkit-transition-delay: 0.3s;
//           transition-delay: 0.3s;
// }
//
.fa-angle-double-down {
  width: 60px;
  display: block;
  text-align: center;
  color: #FA8258;
  font:normal 45px 'FontAwesome';
  line-height:60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  a:visited {
  text-decoration: none;
}
}
.fa-angle-double-down:before {content: "\f103";}

.bounce {
  position: absolute;
  bottom: 30px;
  left: 50% ;
  width: 60px;
  height: 60px ;
  margin-left:-30px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  text-decoration: none;
  a:link {
  text-decoration: none;
}
  a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
