.wrapper-contact {
  background-color: #7AACC1;
  h2 {
      font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: white;
  }
}

.box-contact {
    margin: 0 auto; max-width: 900px;
    background-color: #7AACC1;
    padding: 40px;
    border-radius: 0px;
    text-align: center;
    margin-top: 30px;
}

.box-contact p {
  color: white;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.btn {
  background-color: #182e3d;
  color: white;
  .btn:hover {
  color: white;
  opacity: 0.5;
  }
}

.form-control {
p {
 font-family: 'Roboto', sans-serif;
}
}

.list-contacts {
  list-style: none;
  padding-left: 0;
  margin: 2em 0; }

.list-contacts li {
  margin-bottom: 20px;
  display: table; }

.list-contacts [class*="fa-"] {
  margin-right: 15px;
  display: table-cell;
  width: 30px; }
