#rondje{
  background-color: #FA8258;
  margin-left: 5px;
  margin-right: 5px;
}

#projects {
  h2{
    font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: #FA8258;
  }
  p {
     font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  }
}
