<div class="navbar-wagon navbar-wagon-fixed center-text">
  <% link_to "/", class: "navbar-wagon-name" do %>
 <!--  <h1> Eveline Tamis </h1> -->
  <% end %>
</div>

<!-- <nav class="navbar navbar-default center" role="navigation">
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <li><a href="#home">Eveline Tamis</a></li>
    </ul>
  </div>
</nav>
 -->

