<% members = ['Jojan', 'Tom', 'Iris'] %>

<div class="container">
  <h1> Team </h1>
  <ul class="list-inline">
    <% members.each do |member| %>
    <li> <img src="http://unsplash.it/200" alt="">
      <h2><%= member %> </h2>
    </li>
    <% end %>
  </ul>

</div>
